<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZondervanLibrary.Harvester.Entities.Properties.Settings.HarvesterConnectionString1"
            connectionString="Data Source=ZON05-800H\LIBRARYSRVLOCAL;Initial Catalog=Harvester;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZondervanLibrary.Harvester.Entities.Properties.Settings.HarvesterConnectionString2"
            connectionString="Data Source=DESKTOP-JGOEJ3U;Initial Catalog=Harvester;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>