@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alumni Magazine";
}

<div id="magazines">
    <div class="sub-section-wrapper">
        <div class="sub-section">
            <div class="decade">
	            <h2 class="underline">2010-2016</h2>
                <div class="sub-section-content">
                    <div class="year">
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSummer2016">2016 Summer</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSpring2016">2016 Spring</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSummer2015">2015 Summer</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSpring2015">2015 Spring</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineFall2015">2015 Fall</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSummer2014">2014 Summer</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineSpring2014">2014 Spring</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/TaylorMagazineFall2014">2014 Fall</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="http://archive.org/details/TaylorMagazine2013Spring">2013 Spring</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/2013SummerTaylorMagazine_201404">2013 Summer</a></div>
                        <div class="link"><a target="_blank" href="https://archive.org/details/2013SummerTaylorMagazine">2013 Fall</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="http://archive.org/details/TaylorMagazine2012Spring">2012 Spring</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/TaylorMagazine2012Summer">2012 Summer</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/TaylorMagazine2012Fall">2012 Fall</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum11tayl">2011 Summer</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/2011Fall">2011 Fall</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin11tayl">2011 Winter</a></div>
                    </div>
                    <div class="year">
                        <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum10tayl">2010 Summer</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal10tayl">2010 Fall</a></div>
                        <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin10tayl">2010 Winter</a></div>
                    </div>
                </div>
            </div>
            <div class="decade">
	            <h2 class="underline">2000-2009</h2>
                <div class="sub-section-content">
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum09tayl">2009 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal09tayl">2009 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin09tayl">2009 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum08tayl">2008 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal08tayl">2008 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin08tayl">2008 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum07tayl">2007 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal07tayl">2007 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin07tayl">2007 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum06tayl">2006 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal06tayl">2006 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin06tayl">2006 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefospr05tayl">2005 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefofal05tayl">2005 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin05tayl">2005 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefospr04tayl">2004 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum04tayl">2004 Summer</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefospr03tayl">2003 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefosum03tayl">2003 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazinefowin03tayl">2003 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2002943tayl">2002 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2002944tayl">2002 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2002951tayl">2002 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2002942tayl">2002 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylorunivers20022003tayl">2002-2003 Honor Roll of Donors</a></div>			
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2001933tayl">2001 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2001934tayl">2001 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2001941tayl">2001 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2001932tayl">2001 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2000923tayl">2000 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2000924tayl">2000 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorspecialpub2000tayl">2000 August Special Edition</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2000922tayl">2000 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine2000tayl">2000</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/continuingour20002001tayl">2000-2001 Continuing Our Journey</a></div>
	                </div>
                </div>
            </div>
            <div class="decade">
	            <h2 class="underline">1990-1999</h2>
                <div class="sub-section-content">
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine1999913tayl">1999 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine1999913tayl">1999 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine1999921tayl">1999 fall</a></div>
		                <div class="link"><a target="_blank" href="http://archive.org/details/taylormagazine1999912tayl">1999 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1998903tayl">1998 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1998904tayl">1998 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1998911tayl">1998 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1998902tayl">1998 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/howfirmfound19981999tayl">1998-1999 How Firm a Foundation</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1997893tayl">1997 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1997894tayl">1997 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1997901tayl">1997 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1997882tayl">1997 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1997tayl">1997 Jan-Dec Reflections of Faithfulness</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1996883tayl">1996 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1996881tayl">1996 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1996882tayl">1996 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1995tayl">1995 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1995881tayl">1995 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1995871tayl">1995 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1994863tayl">1994 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1994864tayl">1994 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1994862tayl">1994 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1993853tayl">1993 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1993861tayl">1993 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1993852tayl">1993 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1992843tayl">1992 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1992844tayl">1992 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1992842tayl">1992 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1992851tayl">1992 December</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1991283tayl">1991 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1991284tayl">1991 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1991841tayl">1991 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1991282tayl">1991 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1990272tayl">1990 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1990273tayl">1990 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylor1990281tayl">1990 Fall</a></div>
	                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section-wrapper">
        <div class="sub-section">
            <div class="decade">
	            <h2 class="underline">1980-1989</h2>
                <div class="sub-section-content">
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1989263tayl">1989 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1989264tayl">1989 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylormagazine1989271tayl">1989 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorunivers1989262tayl">1989 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1988253tayl">1988 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversum1988tayl">1988 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorunivers1988261tayl">1988 Fall</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverspr1987tayl">1987 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversum1987tayl">1987 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverswin1987tayl">1987 Winter (1)</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin1987252tayl">1987 Winter (2)</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverspr1986tayl">1986 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverfall1986tayl">1986 Fall</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1985tayl">1985 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverwin1985tayl">1985 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusprsum1984tayl">1984 Spring/Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1984tayl">1984 Fall</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversum1983tayl">1983 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1983tayl">1983 Winter/Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufallwin198384tayl">1983-1984 Fall/Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversum1982tayl">1982 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1982tayl">1982 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufallwin1982tayl">1982 Fall/Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversum1981tayl">1981 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1981tayl">1981 Winter/Spring</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverspr1980tayl">1980 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1980tayl">1980 Fall</a></div>
	                </div>
                </div>
            </div>
            <div class="decade">
	            <h2 class="underline">1970-1979</h2>
                <div class="sub-section-content">
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusprsum1979tayl">1979 Spring/Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1979tayl">1979 Winter</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufallwin197980tayl">1979-1980 Fall/Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusprsum1978tayl">1978 Spring/Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall1978tayl">1978 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1978tayl">1978 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1977133tayl">1977 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall1977141tayl">1977 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorunivers1977132tayl">1977</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1976124tayl">1976 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorunfall1976131tayl">1976 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorunwin1976123tayl">1976 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1975121tayl">1975 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall1975122tayl">1975 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin1975114tayl">1975 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1974111tayl">1974 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum1974112tayl">1974 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall1974113tayl">1974 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin1974104tayl">1974 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr1973101tayl">1973 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum1973102tayl">1973 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall1973103tayl">1973 Fall</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr197292tayl">1972 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum197293tayl">1972 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall197294tayl">1972 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin197291tayl">1972 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr197182tayl">1971 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum197183tayl">1971 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall197184tayl">1971 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin197181tayl">1971 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr197072tayl">1970 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum197073tayl">1970 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall197074tayl">1970 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin197071tayl">1970 Winter</a></div>
	                </div>
                </div>
            </div>
            <div class="decade">
	            <h2 class="underline">1960-1969</h2>
                <div class="sub-section-content">
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr196962tayl">1969 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196963tayl">1969 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196964tayl">1969 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin196961tayl">1969 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr196852tayl">1968 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196853tayl">1968 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruautumn196854tayl">1968 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin196851tayl">1968 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr196742tayl">1967 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196743tayl">1967 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196744tayl">1967 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin196741tayl">1967 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverspr1966tayl">1966 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196633tayl">1966 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196634tayl">1966 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniverwin1966tayl">1966 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr196522tayl">1965 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196523tayl">1965 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196524tayl">1965 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin196521tayl">1965 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruspr196413tayl">1964 Spring</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorusum196414tayl">1964 Summer</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196414tayl">1964 Fall</a></div>
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruwin196412tayl">1964 Winter</a></div>
	                </div>
	                <div class="year">
		                <div class="link"><a target="_blank" href="http://www.archive.org/details/taylorufall196311tayl">1963 Fall</a></div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>