<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="ZondervanLibrary.Harvester.Service.HarvesterService"
               behaviorConfiguration="HarvesterServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/VAMP_Test/HarvesterService"/>
          </baseAddresses>
        </host>

        <endpoint address="net.pipe://localhost/VAMP_Test/IHarvesterServiceConnection"
                  binding="netNamedPipeBinding"
                  contract="ZondervanLibrary.Harvester.Communication.IHarvesterServiceConnection" />
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HarvesterServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>