<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>

        @RenderSection("Styles", false)
        @RenderSection("Scripts", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
