@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Yearbooks";
}

<div id="yearbooks">
    <div class="sub-section-wrapper">
        <div class="sub-section">
	        <h2 class="underline">Ilium</h2>
            <div class="sub-section-content">
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2010112tayl">2010</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/Ilium2011Yearbook">2011</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/2012YearbookIlium_201406">2012</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/Ilium2013Yearbook_201406">2013</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2000102tayl">2000</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2001103tayl">2001</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2002104tayl">2002</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2003105tayl">2003</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2004106tayl">2004</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2005107tayl">2005</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2006108tayl">2006</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2007109tayl">2007</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2008110tayl">2008</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook2009111tayl">2009</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199092tayl">1990</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199193tayl">1991</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199294tayl">1992</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199395tayl">1993</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199496tayl">1994</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199597tayl">1995</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199698tayl">1996</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook199799tayl">1997</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1998100tayl">1998</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1999101tayl">1999</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1980tayl">1980</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1981tayl">1981</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1982tayl">1982</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1983tayl">1983</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1984tayl">1984</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook198587tayl">1985</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook198688tayl">1986</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook198789tayl">1987</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook198890tayl">1988</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook198991tayl">1989</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1970tayl">1970</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1971tayl">1971</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1972tayl">1972</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1973tayl">1973</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1974tayl">1974</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1975tayl">1975</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook197678tayl">1976</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1977tayl">1977</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1978tayl">1978</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1979tayl">1979</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1963tayl">1963</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1964tayl">1964</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1965tayl">1965</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1966tayl">1966</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1967tayl">1967</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1968tayl">1968</a> &nbsp;|&nbsp; </div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/iliumyearbook1969tayl">1969</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-section-wrapper">
        <div class="sub-section">
	        <h2 class="underline">Gem</h2>
            <div class="sub-section-content">
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1960tayl">1960</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1961tayl">1961</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1962tayl">1962</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1950tayl">1950</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1951tayl">1951</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1952tayl">1952</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1953tayl">1953</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1954tayl">1954</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1955tayl">1955</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1956tayl">1956</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1957tayl">1957</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1958tayl">1958</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1959tayl">1959</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1940tayl">1940</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1941tayl">1941</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1942tayl">1942</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1945tayl">1945</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1946tayl">1946</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1947tayl">1947</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1948tayl">1948</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1949tayl">1949</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1930tayl">1930</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1931tayl">1931</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1932tayl">1932</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1933tayl">1933</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1934tayl">1934</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1935tayl">1935</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1936tayl">1936</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1937tayl">1937</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1938tayl">1938</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1939tayl">1939</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1920tayl">1920</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1921tayl">1921</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1922tayl">1922</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1923tayl">1923</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1924tayl">1924</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1925tayl">1925</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1926tayl">1926</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1927tayl">1927</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1928tayl">1928</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1929tayl">1929</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1911tayl">1911</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1913tayl">1913</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1915tayl">1915</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1917tayl">1917</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1919tayl">1919</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1901tayl">1901</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1903tayl">1903</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1905tayl">1905</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1907tayl">1907</a> &nbsp;|&nbsp; </div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1909tayl">1909</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/gemyearbook1898tayl">1898</a></div>
	            </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>