<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://sushi4.scholarlyiq.com/SushiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISushiService"
                contract="ScholarlyIQSushi.ISushiService" name="BasicHttpBinding_ISushiService" />
            <endpoint address="http://sushi.mpsinsight.com/counter_sushi4_0/services/SushiService"
                binding="basicHttpBinding" bindingConfiguration="SushiService3"
                contract="MPSInsight.SushiServiceInterface" name="SushiServicePort" />
            <endpoint address="http://usagereports.galegroup.com/sushi/ws"
                binding="basicHttpBinding" bindingConfiguration="SushiService4" 
                contract="Gale.SushiServiceInterface" name="SushiServicePort1" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="SushiService" />
                <binding name="SushiService1" />
                <binding name="SushiService2" />
                <binding name="BasicHttpBinding_ISushiService" />
                <binding name="SushiService3" />
                <binding name="SushiService4" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SushiServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SushiServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SushiServiceSoap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SushiServiceSoap123">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SushiServiceSoap124">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SushiServiceSoap125">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
</configuration>