<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.5.5" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="ImapX" version="2.0.0.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NHtmlUnit" version="2.19.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net45" />
  <package id="SimpleBrowser" version="0.5.79.0" targetFramework="net45" />
  <package id="SimpleBrowser.WebDriver" version="0.5.37" targetFramework="net45" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net45" />
  <package id="System.Net.FtpClient" version="1.0.5281.14359" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>