<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZondervanLibrary.SharedLibrary.Properties.Settings.StatisticsConnectionString"
            connectionString="Data Source=ZON05-800H\LIBRARYSRVLOCAL;Initial Catalog=Statistics;Integrated Security=True;Max Pool Size=200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
    </system.serviceModel>
</configuration>