@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Academic Catalogs";
}

<div id="catalogs">
    <div class="sub-section-wrapper">
        <div class="sub-section">
            <h2 class="underline">2000-2016</h2>
            <div class="sub-section-content">
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1011tayl">2010-11</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1112tayl">2011-12</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/TaylorUniversityAcademicCatalog201213">2012-13</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/AcademicCatalog201314">2013-14</a></div>
                    <div class="link"><a target="_blank" href="https://www.archive.org/details/TaylorUniversityCatalog2014">2014-15</a></div>
                    <div class="link"><a target="_blank" href="https://www.archive.org/details/TaylorUniversityCatalog2015">2015-16</a></div>
                </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0002tayl">2000-02</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0203tayl">2002-03</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0304tayl">2003-04</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0405tayl">2004-05</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0506tayl">2005-06</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0607tayl">2006-07</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0708tayl">2007-08</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0809tayl">2008-09</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity0910tayl">2009-10</a></div>
	            </div>
            </div>

	        <h2 class="underline">1950-2000</h2>
            <div class="sub-section-content">
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9092tayl">1990-92</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9294tayl">1992-94</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9496tayl">1994-96</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9698tayl">1996-98</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9800tayl">1998-2000</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity8183tayl">1981-83</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity8284tayl">1982-84</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity8688tayl">1986-88</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity8890tayl">1988-90</a></div>
	            </div>
	            <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity7173tayl">1971-73</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity7375tayl">1973-75</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity7577tayl">1975-77</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity7779tayl">1977-79</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity7981tayl">1979-81</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6163tayl">1961-63</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6365tayl">1963-65</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6567tayl">1965-67</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6768tayl">1967-68</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6869tayl">1968-69</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity6971tayl">1969-71</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5051tayl">1950-51</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5152tayl">1951-52</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5253tayl">1952-53</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5354tayl">1953-54</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5455tayl">1954-55</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5556tayl">1955-56</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5657tayl">1956-57</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5759tayl">1957-59</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity5961tayl">1959-61</a></div>
	            </div>
            </div>
        </div>
    </div>

    <div class="sub-section-wrapper">
        <div class="sub-section">
            <h2 class="underline">1900-1950</h2>
            <div class="sub-section-content">
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4142tayl">1941-42</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4445tayl">1944-45</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4546tayl">1945-46</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4647tayl">1946-47</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4748tayl">1947-48</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4849tayl">1948-49</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity4950tayl">1949-50</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3031tayl">1930-31</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3132tayl">1931-32</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3334tayl">1933-34</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3435tayl">1934-35</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3536tayl">1935-36</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3839tayl">1938-39</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity3940tayl">1939-40</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2021tayl">1920-21 (Life Service College)</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2223tayl">1922-23</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2526tayl">1925-26</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2627tayl">1926-27</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2728tayl">1927-28</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1928tayl">1928 (Abridged)</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2829tayl">1928-29</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity2930tayl">1929-30</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityb1011tayl">1910-11</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityb1112tayl">1911-12</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1213tayl">1912-13</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1314tayl">1913-14</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1415tayl">1914-15</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1516tayl">1915-16</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1617tayl">1916-17</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1718tayl">1917-18</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1918tayl">1918 (Conservatory of Music)</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1819tayl">1918-19</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity1920tayl">1919-20</a></div>
	            </div>
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0001tayl">1900-01</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0102tayl">1901-02</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0203tayl">1902-03</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0304tayl">1903-04</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0405tayl">1904-05</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0506tayl">1905-06</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0607tayl">1906-07</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityc0708tayl">1907-08</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversitysep08tayl">September 1908</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityb0809tayl">1908-09</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversityb0910tayl">1909-10</a></div>
	            </div>
            </div>

	        <h2 class="underline">1850-1900</h2>
            <div class="sub-section-content">
	            <div class="decade">
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9091tayl">1890-91</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9192tayl">1891-92</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9293tayl">1892-93</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9495tayl">1894-95</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9596tayl">1895-96</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9697tayl">1896-97</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9798tayl">1897-98</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/TaylorUniversityAcademicCatalog1899">1898-99</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9899tayl">1898-99 (School of Theology)</a></div>
		            <div class="link"><a target="_blank" href="http://www.archive.org/details/tayloruniversity9900tayl">1899-1900</a></div>
	            </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/FortWayneCollegetaylorUniversityAcademicCatalog1883">1882-83</a></div>
                </div>
                <div class="decade">
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/FortWayneFemaleCollegetaylorUniversityAcademicCatalog1855">1854-55</a></div>
                    <div class="link"><a target="_blank" href="http://www.archive.org/details/FortWayneCollegetaylorUniversityAcademicCatalog1858_203">1858</a></div>
                </div>
            </div>
        </div>
    </div>
</div>